@{
	ViewData["Title"] = "Index";
}
@model List<TestBananaContext>;
<link rel="stylesheet" href="~/css/Intent.css" />
<link rel="stylesheet" href="~/css/MissionEdit.css" />

<div class="section1">
	<div class="addTarget">
		<form asp-action="AddTarget" method="post">
			<input class="addInput" type="text" placeholder="新增目標" name="target" />
			<button class="icon-addTarget" type="submit" style="border:none; background-color:#f9f7f1"><i class="fa-regular fa-square-plus fa-2xl"></i></button>
		</form>
	</div>

	<div class="sort">
		<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
				data-bs-toggle="dropdown" aria-expanded="false">
			排序方式
		</button>
		<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

			<li><a class="dropdown-item" href="@Url.Action("Sort", new { sortOrder = 1 })">依最近新增</a></li>
			<li><a class="dropdown-item" href="@Url.Action("Sort", new { sortOrder = 2 })">依進度</a></li>
			<li><a class="dropdown-item" href="@Url.Action("Sort", new { sortOrder = 3 })">依任務數量</a></li>

		</ul>
	</div>
</div>


<div class="progressArea">
	@foreach (var targetItem in Model) {

		double MC = Convert.ToDouble(targetItem.missionCount);
		double MF = Convert.ToDouble(targetItem.missionFinish);
		int Count;

		if (MC == 0 || MF == 0) {
			Count = 0;
		}
		else {
			Count = Convert.ToInt32(Math.Round((MF / MC) * 100));
		}

		<div class="targetItem" data-target-id="@targetItem.targetID">
			<div class="targeTittle">
				<div>
					<p for="">@targetItem.targetName</p>
				</div>
				<div class="target-addMission">
					<button class="icon-addMission showDialog" style="border:none; background-color:#f9f7f1">
						新增任務&nbsp;<i class="fa-solid fa-plus fa-lg"></i>
					</button>
				</div>
			</div>
			<progress class="progress-bar" max="100" min="0" value="@Count"></progress>
			<label class="missionAmount">任務數量：@targetItem.missionCount</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>/</label>&nbsp;&nbsp;&nbsp;&nbsp;<label class="missionAmount">已完成：@targetItem.missionFinish</label>
		</div>
	}


	<div>
		<img src="~/img/Intent/9812.png" alt="" class="bgImg">
	</div>

	<!-- 任務編輯-->
	<dialog id="infoModal">

		<div class="position-relative">
			<button type="button" class="close btn-close position-absolute top-10 end-0" aria-label="Close"></button>
		</div>

		<partial name="~/Views/MissionEdit/Index.cshtml" />
		<!-- 儲存按鈕 -->
		<div class="submitBtn">
			@*<input type="submit" class="close btn btn-secondary btn-lg" value="儲存">*@
			<button id="sendValue" class="btn btn-secondary btn-lg">儲存</button>
		</div>

	</dialog>
	<!-- 任務編輯 end-->

</div>

<!-- ------------- JS ---------------- -->

<script>
	let showBtns = document.querySelectorAll(".showDialog");
	let infoModal = document.querySelector("#infoModal");
	//let closeBtns = document.querySelectorAll(".close");


	showBtns.forEach(function (showBtn) {
		showBtn.addEventListener("click", function () {
			
			
			let targetItem = showBtn.closest(".targetItem"); 
			let targetId = targetItem.dataset.targetId;
			console.log(targetId,"新增任務")
			document.getElementById("statusSelect").value = targetId

			infoModal.showModal();
		});
	});

	//closeBtns.forEach(function (closeBtn) {
	//	closeBtn.addEventListener("click", function () {
	//		infoModal.close();
	//	});
	//});

	let addIntentBtn = document.querySelector(".icon-addTarget");
	let addIntentInput = document.querySelector(".addInput");

	addIntentBtn.addEventListener("click", function () {
		let inputValue = addIntentInput.value.trim();
		console.log(inputValue);
		if (inputValue == "") {
			alert("請輸入目標名稱")
		};
	});

	/* 送出按鈕 將資料傳給controller */
	$("#sendValue").click(function () {
		infoModal.close();
		var postMissionId = $("#missionId").val()
		var postMissionName = $("#missionName").val()
		var postMemberStatus = $("#memberStatus").val()
		var postStartDate = $("#startDate").val()
		var postEndDate = $("#endDate").val()
		var postSelectedValue = $("input[name='status']:checked").val();
		var postIntentSelect = $("#statusSelect").val()
		var postDescription = $("#description").val();
		console.log(postMissionId, postMissionName, postMemberStatus, postStartDate, postEndDate, postSelectedValue, postIntentSelect, postDescription)
		var data = {
			MissionId: parseInt(postMissionId),
			MissionName: postMissionName,
			MisStartTime: postStartDate,
			MisFinishTime: postEndDate,
			MisState: postSelectedValue,
			MisDescribe: postDescription,
			IntentId: parseInt(postIntentSelect),
			MemberId: parseInt(postMemberStatus)
		};
		console.log(JSON.stringify(data))
		$.ajax({
			url: "/MissionEdit/UpsertMission", // 請根據您的Controller路由進行調整
			type: "POST",
			data: data,
			success: function (result) {
				// 處理成功回傳的結果
				console.log(result);
				// alert視窗
				var message = '成功';
				if (message) {
					alert(message);
				}
				window.location.href = window.location.href;
			},
			error: function (xhr, status, error) {
				// 處理錯誤
				console.error("發生錯誤:", error);
			}
		});
		/* 清空 */
		$("#missionId").val("")
		$("#missionName").val("")
		$("#memberStatus").val("請選擇")
		$("#startDate").val("")
		$("#endDate").val("")
		$("#statusSelect").val("請選擇")
		$("#description").val("");
	})
	//控制 Modal開關
	$(".close").on("click", () => {
		infoModal.close();
		/* 清空 */
		$("#missionId").val("")
		$("#missionName").val("")
		$("#memberStatus").val("請選擇")
		$("#startDate").val("")
		$("#endDate").val("")
		$("#statusSelect").val("請選擇")
		$("#description").val("");
	})
	//Layout的新增計劃dialog
	$("#btnAddProgram").click(function () {
		var dialog = document.getElementById('AddProgramDialog');
		dialog.showModal();
	});
	$("#cancelbtn").click(function () {
		var dialog = document.getElementById('AddProgramDialog');
		dialog.close();
	});

</script>

<!-- ------------- JS end---------------- -->


